<div class="row">
  <div class="col-sm-3">
    <h3>Edit Tutor Profile</h3>
  </div>
  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'form', tutor_profile: @tutor_profile %>
      </div>
  </div>
