<h3>Your Bookings:</h3>

<% if current_user.has_role? :student %>
  <%= render 'partials/student_bookings' %>
<% end %>

<% if current_user.has_role? :tutor%>
  <%= render 'partials/tutor_bookings' %>
<% end %>
