<h1>Requests</h1>

<% if current_user.has_role? :student %>
  <%= render 'partials/student_requests' %>
<% end %>

<% if current_user.has_role? :tutor %>
  <%= render 'partials/tutor_requests' %>
<% end %>
