<% provide(:title, "Tutors") %>
<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        Search form
      </div>
      <div class="panel-body">
        <%= render 'partials/search_form' %>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <% if @tutor_profiles.present?  %>
      <%= render 'partials/results' %>
    <% else %>
        <p>There are no tutors corresponding to your search</p>
    <% end %>
  </div>
</div>
