<h2>Thank you for your payment of <%= number_to_currency(@amount.to_i/100, unit: "$") %>.
You should receive a receipt in your email shortly.</h2>
<%= link_to "Back to your desktop", root_path, class:'btn btn-lg btn-primary' %>
